
body{
    font-family:  Helvetica, sans-serif;
}
html,body{
    height: 100%;
}
.container1{
    display: flex;
    height: 100%;
    flex-direction: row;
}
.sidebar1{
    flex: 1;
    background-color:rgb(51, 59, 70);
    color: rgb(184, 187, 191);
    flex-direction: column;
    display: flex;
}
.sidebar2{
    flex: 1;
    background-color: rgb(68, 124, 172);
    flex-direction: column;
    display: flex;
}
.content{
    flex:7;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

.sidebar1>ul{
   height: 5%;
}
.sidebar1 > ul > li{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid  rgb(41, 48, 58);
    
}
.sidebar1 > ul > li>a{
    padding-left: 5px;
    padding-right: 25px;
    display: flex;
    align-items: baseline;
    color: rgb(184, 187, 191);
    text-decoration: none;
    font-size: 80%;
    font-weight: bold;
    cursor: pointer;
}
.sidebar1>ul>li:hover{
    background-color: rgb( 68, 78, 92) ;
}
.sidebar1>ul>li>a img{
    padding-right: 15px;
    padding-left: 12px;
    height: 12px;
}
.spec:hover{
  background-color:rgb(51, 59, 70) !important;
}
.sidebar1>div{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 5%;
    width: 100%;
    border-bottom: 1px solid  rgb(41, 48, 58);
}
.sidebar1>div>p{
    font-size: 100%;
    height: 100%;
    color: rgb(184,187,191,0.8);
    font-weight: bold;
    padding-top: 15px;
}
.sidebar1>div>p img{
    padding-left: 14px;
    padding-right: 3px;
}
.godina{
    color: white;
    height: 5%;
    font-size: 110%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-bottom: 1px solid rgb(54, 112, 165);
}
.poredaj1{
    color:  rgb(102, 169, 196);
    height: 2.5%;
    font-size: 45%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding-right: 10px;
    font-weight: bold;
    border-bottom: 1px solid rgb(58, 112, 165);
}
.sidebar2>ul{
    height: 6.5%;
}
.sidebar2>ul>li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid  rgb(58, 112, 165);
}
.sidebar2>ul>li a{
    color: white;
    width: 100%;
    font-size: 70%;
    font-weight: bold;
    padding: 5px 50px 0px 20px;
}
.sidebar2>ul>li>.special{
    color:  rgb(102, 169, 196);
    padding-bottom: 5px !important;
    font-size: 50% !important;
    margin-top: 0px;
}
h2{
    color: rgb(102, 102, 102);
    font-weight: lighter;
}
button{
    color: white;
    background-color: rgb(240, 72, 72);
    border: none;
    border-radius: 5px;
    height: 25px;
    text-align: center;
    font-size: 70%;
    padding: 0px 10px 2px;
}
.upp{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding-left: 10px;
    border-bottom: 2px solid rgb(213, 214, 204);
}
.upp>button{
    position: absolute;
    left:  93%;
}
.container2 {  
    display: block;  
    position: relative;  
    cursor: pointer;  
}  
.container2 input {  
    visibility: hidden;  
    cursor: pointer;  
}  
.checkmark {  
    position: absolute;  
    top: 0;  
    left: 0;  
    height: 10px;  
    width: 10px;  
    background-color: white;  
    border: 1px solid rgb(184, 187, 191);
    border-radius: 3px;
}  
.container2 input:checked ~ .checkmark {  
    background-color:rgb(59, 153, 252);  
    border: 1px solid rgb(59, 153, 252);
}  
.checkmark:after {  
    content: "\2714";  
    position: absolute;  
    display: none;  
    font-size: 7px;
	top: 2px;
	left: 2px;
	color: white;
}  
.container2 input:checked ~ .checkmark:after {  
    display: block;  
}  
.table1 td{
    color: rgb(106, 102, 102);
    font-weight: bold;
    padding: 0px 0px 10px 25px;
    font-size: 60%;
}
.table1 th{
    color: rgb(223, 223, 223);
    padding: 5px 0px 8px 25px ;
    width: 33%;
    font-size: 50%;
 }
.table1{
    width: 100%;
    line-height: 6px;
    border-bottom: 2px solid rgb(213, 214, 204);
    text-align: left;
    background-color: rgb(242, 242, 242);
}
td ,th {
    vertical-align: middle;
}
.table2{
    height: 53%;
    width: 100%;
    text-align: left;
}
.cont-tb3{
    height: 100%;
    padding-top: 30px;
}
.table2 th{
    color: rgb(223, 223, 223);
    padding-left: 10px ;
    font-size: 65%;
    font-weight: lighter;
}
.table2 td{
    color: rgb(106, 102, 102);
    padding-left: 20px ;
    font-weight: lighter;
    font-size: 75%;
}
.table2 tr{
    border-bottom: 1px solid rgb(213, 214, 204);
}