body{
    min-width: 576px;
}
.display-4{
    font-size: 2.1rem !important;
}
input{
    font-family: VT323, monospace ;
    font-size: 230%;
    text-shadow:  2px 2px 10px #0179FC;
    border:none;
    color: #0179FC;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    outline:none;
    border: none;
 }
 button:focus {
    outline: none;
}
.red{
    background-color: #dc3545
}
.dark{
    background-color: #343a40;
}
.sec{
    background-color:#6c757d ;
}
.bord{
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
   